.early-access
    color: var(--white)
    width: 320px
    background-color: var(--bgtestimonials)
    margin: -230px auto 0 auto
    text-align: center
    padding: 25px
    border-radius: 10px
    position: relative
    &__h3
        font-size: 1.25rem
        margin-bottom: 25px
    &__p
        color: var(--gray)
        margin-bottom: 25px
    &__buttons-wrapper
        display: flex
        flex-direction: column
    &__input
        width: 100%
        height: 50px
        border: none
        outline: none
        border-radius: 50px
        padding-left: 30px
        margin-bottom: 25px
        &::placeholder
            opacity: 0.3
    &__button
        width: 100%
        height: 50px
        border: none
        outline: none
        border-radius: 50px
        background-image: linear-gradient(to right,var(--cyan), var(--blue))
        font-weight: bold
        font-family: 'raleway'
        cursor: pointer
        color: var(--white)
        &:hover
            background-image: none
            background-color: var(--cyan)
.background-footer
    height: 150px
    background-color: var(--bgfooter)
    margin-top: -150px
